@import "../node_modules/bootstrap/scss/functions";
@import "./custom/variables/variables";
@import "../node_modules/bootstrap/scss/variables";

@import "./custom/variables/variables-dark";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "./custom/utilities/utilities";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./custom/utilities/root";
@import "./custom/utilities/typography";
@import "./custom/components/components";

// Components
@import "./components/theme-toggler";
@import "./components/footer";  // Add this line
@import "./components/pricing";

// Default (mobile first)
.logo-light, .logo-dark {
  width: 80px;
  transition: width 0.3s ease;
}

// Tablet
@media (min-width: 768px) {
  .logo-light, .logo-dark {
    width: 100px;
  }
}

// Desktop
@media (min-width: 1200px) {
  .logo-light, .logo-dark {
    width: 120px;
  }
}

// Large Desktop
@media (min-width: 1400px) {
  .logo-light, .logo-dark {
    width: 140px;
  }
}

